accelerate
codetiming
datasets
flash-attn==2.7.4.post1
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray==2.46.0
tensordict
torchdata
transformers==4.51.1
vllm==0.8.5
wandb
